$variables: (
  colors: (
    unset : unset,
    none:none,
    transparent: transparent,
    black: #000,
    white: #fff,
    gray: (
      50: #F7F8FA,
      100: #F2F3F5,
      200: #E6E7EB,
      300: #D3D5DB,
      400: #A2A6B0,
      500: #6A707D,
      600: #4F5561,
      700: #2E333D,
      800: #1D2129,
      900: #15181F,
      glass:(
        600: rgba(#4F5561, 0.5),
        700: rgba(#2E333D, 0.5),
        800: rgba(#1D2129, 0.5),
        900: rgba(#15181F, 0.5),
      )
    ),
    red: (
      100: #fee2e2,
      200: #fecaca,
      300: #fca5a5,
      400: #f87171,
      500: #ef4444,
      600: #dc2626,
      700: #b91c1c,
      800: #991b1b,
      900: #7f1d1d,
      glass:(
        500: rgba(#ef4444, 0.16),
      )
    ),
    orange: (
      100: #ffedd5,
      200: #fed7aa,
      300: #fdba74,
      400: #fb923c,
      500: #f97316,
      600: #ea580c,
      700: #c2410c,
      800: #9a3412,
      900: #7c2d12
    ),
    yellow: (
     100: #fef9c3,
     200: #fef08a,
     300: #fde047,
     400: #facc15,
     500: #eab308,
     600: #ca8a04,
     700: #a16207,
     800: #854d0e,
     900: #713f12
    ),
    green: (
      100: #DCFCE7,
      200: #BBF7D0,
      300: #86EFAC,
      400: #4ADE80,
      500: #22C55E,
      600: #16A34A,
      700: #15803D,
      800: #166534,
      900: #14532D,
      glass:(
        500: rgba(#22C55E, 0.16),
      )
    ),
    teal: (
     100: #ccfbf1,
     200: #99f6e4,
     300: #5eead4,
     400: #2dd4bf,
     500: #14b8a6,
     600: #0d9488,
     700: #0f766e,
     800: #115e59,
     900: #134e4a
    ),
    blue: (
      100: #dbeafe,
      200: #bfdbfe,
      300: #93c5fd,
      400: #60a5fa,
      500: #3b82f6,
      600: #2563eb,
      700: #1d4ed8,
      800: #1e40af,
      900: #1e3a8a,
      glass:(
        500: rgba(0, 60, 255, 0.16),
      )
    ),
    indigo: (
     100: #e0e7ff,
     200: #c7d2fe,
     300: #a5b4fc,
     400: #818cf8,
     500: #6366f1,
     600: #4f46e5,
     700: #4338ca,
     800: #3730a3,
     900: #312e81
    ),
    purple: (
      100: #f3e8ff,
      200: #e9d5ff,
      300: #d8b4fe,
      400: #c084fc,
      500: #a855f7,
      600: #9333ea,
      700: #7e22ce,
      800: #6b21a8,
      900: #581c87
    ),
    pink: (
     100: #fce7f3,
     200: #fbcfe8,
     300: #f9a8d4,
     400: #f472b6,
     500: #ec4899,
     600: #db2777,
     700: #be185d,
     800: #9d174d,
     900: #831843
    )
  ),
  boxShadow: (
    //https://shadows.brumm.af/
    default:"0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)",
    sm: "0 1px 2px 0 rgb(0 0 0 / 0.05)",
    md:"0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)",
    lg: "0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)",
    xl:"0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)",
    2 xl:"0 25px 50px -12px rgb(0 0 0 / 0.25)",
    inner:"inset 0 2px 4px 0 rgb(0 0 0 / 0.05)",
    none:"0 0 #0000",
  ),
  backdrop: (
    blur: (
      0: none,
      2: blur(2px),
      4: blur(4px),
      6: blur(6px),
      8: blur(8px),
      10: blur(10px),
    ),
  ),
  backgroundSize: (
    auto: auto,
    cover: cover,
    contain: contain
  ),
  borderRadius: (
    0: 0,
    4:4px,
    6:6px,
    8:8px,
    10:10px,
    12:12px,
    14:14px,
    16:16px,
    18:18px,
    20:20px,
    24:24px,
    full: 100%
  ),
  borderWidth: (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
  ),
  borderStyle:(
    dotted:"dotted",
    dashed:"dashed",
    solid:"solid",
    none:"none",
  ),
  direction: (
    auto: auto,
    ltr: ltr,
    rtl: rtl
  ),
  position: (
    static: static,
    relative: relative,
    absolute: absolute,
    fixed: fixed
  ),
  overflow: (
    auto: auto,
    hidden: hidden,
    visible: visible,
    scroll: scroll
  ),
  textAlign: (
    left: left,
    right: right,
    center: center,
    justify: justify,
    start: start,
    end: end
  ),
  textDecoration:(
    none:none,
    underline:underline
  ),
  textTransform:(
    lowercase:lowercase,
    uppercase:uppercase,
    capitalize:capitalize
  ),
  cursor: (
    auto: auto,
    default: default,
    pointer: pointer,
    wait: wait,
    text: text,
    move: move,
    not-allowed: not-allowed
  ),
  opacity: (
    0: 0,
    25: 0.25,
    50: 0.5,
    75: 0.75,
    100: 1
  ),
  zIndex: (
    0: 0,
    10: 10,
    20: 20,
    30: 30,
    40: 40,
    50: 50,
    auto: auto
  ),
  whiteSpace:(
    nowrap:nowrap,
    wrap:wrap
  ),
  listStyleType: (
    none: none,
    disc: disc,
    decimal: decimal
  ),
  lineHeight: (
    none: 0,
    tight: 1,
    snug: 1.25,
    normal: 1.5,
    relaxed: 1.75,
    loose: 2
  ),
  width: (
    auto: auto,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    fit:fit-content,
    min:min-content,
    max:max-content
  ),
  height: (
    auto: auto,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    fit:fit-content,
    min:min-content,
    max:max-content
  ),
  ObjectFit: (
    none: none,
    fill:fill,
    cover:cover,
    unset:unset,
    inherit:inherit,
    scaleDown:scale-down
  ),
  fontSize: (
    10: 10px,
    12: 12px,
    13: 13px,
    14: 14px,
    16: 16px,
    18: 18px,
    20: 20px,
    22: 22px,
    24: 24px,
    26: 26px,
    28: 28px,
    32: 32px,
    36: 36px,
    40: 40px,
    44: 44px,
    48: 48px,
    52: 52px,
    56: 56px,
    60: 60px,
  ),
  fontWeight: (
    100:100,
    200:200,
    300:300,
    400:400,
    500:500,
    600:600,
    700:700,
    800:800,
    900:900,
    950:950
  ),
  fontStyle:(
    italic:italic,
    normal:normal
  ),
  //https://bootstrapcreative.com/flexbox-tutorial/
  display:(
    inline:inline,
    inline-block:inline-block,
    block:block,
    flex:flex,
    grid:grid,
    inline-flex:inline-flex,
    none:none
  ),
  flexDirection:(
    row:row,
    column:column,
    row-reverse:row-reverse,
    column-reverse:column-reverse
  ),
  flexWrap:(
    wrap:wrap,
    nowrap:nowrap,
    wrap-reverse:wrap-reverse
  ),
  justifyContent:(
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
  ),
  alignItems:(
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
  ),
  alignContent:(
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    stretch: stretch,
  ),
  alignSelf:(
    auto: auto,
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
  ),
  gridCols:(
    1:repeat(1, minmax(0, 1fr)),
    2:repeat(2, minmax(0, 1fr)),
    3:repeat(3, minmax(0, 1fr)),
    4:repeat(4, minmax(0, 1fr)),
    5:repeat(5, minmax(0, 1fr)),
    6:repeat(6, minmax(0, 1fr)),
    7:repeat(7, minmax(0, 1fr)),
    8:repeat(8, minmax(0, 1fr)),
    9:repeat(9, minmax(0, 1fr)),
    10:repeat(10, minmax(0, 1fr)),
    11:repeat(11, minmax(0, 1fr)),
    12:repeat(12, minmax(0, 1fr)),
    none:none
  ),
  gridColSpan:(
    auto:auto,
    1:'span 1 / span 1',
    2:'span 2 / span 2',
    3:'span 3 / span 3',
    4:'span 4 / span 4',
    5:'span 5 / span 5',
    6:'span 6 / span 6',
    7:'span 7 / span 7',
    8:'span 8 / span 8',
    9:'span 9 / span 9',
    10:'span 10 / span 10',
    11:'span 11 / span 11',
    12:'span 12 / span 12',
    full: '1 / -1',
  ),
  gridColStartEnd:(
    1:1,
    2:2,
    3:3,
    4:4,
    5:5,
    6:6,
    7:7,
    8:8,
    9:9,
    10:10,
    11:11,
    12:12,
    auto:auto
  ),
  gridRows:(
    1:repeat(1, minmax(0, 1fr)),
    2:repeat(2, minmax(0, 1fr)),
    3:repeat(3, minmax(0, 1fr)),
    4:repeat(4, minmax(0, 1fr)),
    5:repeat(5, minmax(0, 1fr)),
    6:repeat(6, minmax(0, 1fr)),
    none:none
  ),
  gridRowSpan:(
    auto:auto,
    1:'span 1 / span 1',
    2:'span 2 / span 2',
    3:'span 3 / span 3',
    4:'span 4 / span 4',
    5:'span 5 / span 5',
    6:'span 6 / span 6',
    7:'span 7 / span 7',
    8:'span 8 / span 8',
    9:'span 9 / span 9',
    10:'span 10 / span 10',
    11:'span 11 / span 11',
    12:'span 12 / span 12',
    full: '1 / -1',
  ),
  gridRowStartEnd:(
    1:1,
    2:2,
    3:3,
    4:4,
    5:5,
    6:6,
    7:7,
    8:8,
    9:9,
    10:10,
    11:11,
    12:12,
    auto:auto
  ),
  gridFlow:(
    row:row,
    col:column,
    dense:dense,
    row-dense:row dense,
    col-dense:column dense,
  ),
  spacer:(
    auto:auto,
    0: 0,
    1: 1 * .25rem,
    2: 2 * .25rem,
    3: 3 * .25rem,
    4: 4 * .25rem,
    5: 5 * .25rem,
    6: 6 * .25rem,
    7: 7 * .25rem,
    8: 8 * .25rem,
    9: 9 * .25rem,
    10: 10 * .25rem,
  ),
  orders:(
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12,
    unset:unset
  ),
  container:(
    fluid:100%,
    sm:640px,
    md:768px,
    lg:1024px,
    xl:1280px,
    2xl:1536px,
  ),
  transition:(
    ease01:"0.1s ease-in-out",
    ease03:"0.3s ease-in-out",
    ease05:"0.5s ease-in-out",
  ),
  responsive:(
    sm:'min-width:640px',
    md:'min-width:768px',
    lg:'min-width:1024px',
    xl:'min-width:1280px',
    xxl:'min-width:1536px'
  ),
);
